<!DOCTYPE html>
<html>

<head>
    <title>Ikkijkverder.nl | Alles over bijziendheid bij kinderen.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Myopie komt steeds vaker en op steeds jongere leeftijd voor. Lees hier alles over bijziendheid bij kinderen, hoe te herkennen en de gratis oogcheck.">
    <link rel="stylesheet" type="text/css" href="./assets/style/all.css">
    <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./assets/img/favicon.ico" type="image/x-icon">
</head>

<body>

    <div class="page page--fullscreen page--padding center">
        <div class="background"></div>
        <div class="center-block">
            <a href="kind.html" class="purple center skew ff-bb">
                <div class="text skew-n">mijzelf</div>
            </a>
            <div class="white center cover skew">
                <div>
                    Ik wil meer weten over de ogen van <span class="ff-bb"></span>
                </div>
            </div>
            <a href="ouders.html" class="blue center skew ff-bb">
                <div class="text skew-n">mijn kinderen</div>
            </a>
        </div>
    </div>

    {{> footer}}

</body>

</html>
